.carruselContent{
	position: relative;
	height: 550px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	padding: 0;
}

.itemCarrusel{
	position: absolute;
	width: 70%;
	min-width: 70%;
	margin-left: 15%;
	height: 100%;
	transition: all .3s ease;
}

.carruselContent> .itemCarrusel:nth-child(1){
	left: -72%;
	height: 80%;
	margin-top: 4%;
	z-index: 1;
	background-image: url(../sources/e-comerce2.jpg);
	background-size: cover;
}
.carruselContent> .itemCarrusel:nth-child(2){
	left: 0%;
	height: 100%;
	margin-top: 0;
	z-index: 1;
	background-image: url(../sources/img2.jpg);
	background-size: cover;
}
.carruselContent> .itemCarrusel:nth-child(3){
	left: 72%;
	height: 80%;
	margin-top: 4%;
	z-index: 1;
	background-image: url(../sources/img1.jpg);
	background-size: cover;
}
.carruselContent> .itemCarrusel:nth-child(4){
	left: 0%;
	height: 80%;
	margin-top: 4%;
	z-index: -1;
	background-image: url(../sources/img1.jpg);
	background-size: cover;
}

.controlContent{
	justify-content: center;
	gap:100px;
}
.control{
	width: 34px;
	height: 34px;
	transition: all .3s ease;
	border-radius: 50%;
	padding: 5px;
	background-size: cover;
	display: inline-block;
}
.control:hover{
	background-color: orange;
	cursor: pointer;
}

#ctrlIzq{
	background-image: url(../sources/321-arrow-left2.png);
}
#ctrlDer{
	background-image: url(../sources/317-arrow-right2.png);
}
#numImg{
	margin: 0;
}
.f1{
	background-color: red;

}
.f2{
	background-color: green;

}
.f3{
	background-color: blue;

}
.f4{
	background-color: purple;
}
/* vamos a definir las medidas para pantallas de celulares */
@media (max-width: 480px){
	.carruselContent{
		height: 300px;
		

	}
	.controlContent{
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

}