#contacto{
	width: 100%;
	display: flex;
	flex-direction: column;
	gap:10px;
	perspective: 500px;
}
.error{
	border-radius: 0px;
	background: rgba(255,200,50,0.5);
}
.inputContent{
	display: flex;
	width: 100%;
	min-height: 25px;
	border-radius: 5px;
	border: 2px solid black;
	box-shadow: 2px 2px 8px;
}
.inputContent > input{
	margin: auto;
	width: 90%;
	border: none;
	outline: none;
	background: transparent;
	
}
.inputContent > textarea{
	margin: auto;
	width: 90%;
	border: none;
	outline: none;
	resize: none;
	background: transparent;

}
#errorList{
	color: red;
}
#enviarForm{
	transition: all .2s ease-in-out;
}
#enviarForm:hover{
	cursor: pointer;
	box-shadow: 5px 5px 10px black;
	transform: translateZ(10px);
}



/*ESTULOS DE LOS MENSAJES*/
#mensajes{
	display: flex;
	flex-direction: column-reverse;
	gap: 20px;
}
.msg{
	position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 0px 0px;
    border: 2px solid black;
    padding-bottom: 10px;
    overflow: hidden;
}
.headMsg{
	display: flex;
    flex-direction: row;
    gap: 15px;
    background: linear-gradient(45deg, cyan -16%, purple 30%);
    justify-content: space-between;

}
.headMsg > h3{
	color: white;
	margin-left: 15px;
}
.headMsg > h5{
	color: gray;
	margin-right: 15px;
}
.msgMensaje{
	width: 90%;
    margin: auto;
    margin-top: 10px;
}